body {
    margin: 0;
    width: 100%;
    background: linear-gradient(to right, #000000, #1e0c29, #410564);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;

}

.images {
    position: absolute;

    display: flex;
    width: 100%;
    justify-content: space-between;
}

header {
    position: relative;

    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
}

    header a {
        font-size: 25px;
        color: white;
        text-decoration: none;
    }

    header div {
        width: 300px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-box {
        width: auto;
        margin: 0px 80px 0px 80px;
    }

    .logo {
        position: relative;
    }

    .prink1 {
        position: absolute;
        margin-bottom: 100px;
        margin-right: 80px;
    }

    .prink2 {
        position: absolute;
        margin-top: 20px;
        margin-left: 450px;
    }
   @font-face {
  font-family: 'Limelight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/limelight/v19/XLYkIZL7aopJVbZJHDuoNOlHnnY.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Limelight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/limelight/v19/XLYkIZL7aopJVbZJHDuoOulH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}